@model TaskManagement.Models.SeedTasks
@*<a class="btn btn-primary popup" data-url="Task/CreateEditTask" data-toggle="modal" data-target="#modal-create-edit-task" id="UserModel">Add New User <i class="fa fa-plus"></i></a>
    <partial name="CreateTaskPartial" />*@

@await Html.PartialAsync("_TreeViewPartial", Model)
