@model IEnumerable<TaskManagement.Models.DoTask>
@{
    // ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>
        Task Management
    </title>
</head>
<body>
    <table>
        <tr>
            <td>Название задачи</td>
            <td>Описание</td>
            <td>Исполнитель</td>
            <td></td>
        </tr>
        @foreach (var task in Model)
        {
            <tr>
                <td>@task.Name</td>
                <td>@task.Description</td>
                <td>@task.Executors</td>
                <td><a href="~/Home/Buy/@task.Id">Купить</a></td>
            </tr>
        }
    </table>
</body>
</html>

