@model TaskManagement.Models.DoTask
@{Layout = null;}

<div class="row">
    <div class="col-md-12">
        <form id="AjaxForm" asp-controller="Task" asp-action="CreateSubTask" asp-route-id="@Model.ParentId" onsubmit="return SaveTaskInfo(this,@Model.ParentId);" autocomplete="off">
            @await Html.PartialAsync("_TaskPartial") 
        </form>
    </div>
</div>