@model TaskManagement.Models.DoTask
@{Layout=null;}

<div class="row">
    <div class="col-md-12">
        <form id="AjaxForm" asp-action="CreateTask" onsubmit="return SaveTaskInfo(this);" autocomplete="off">
            @await Html.PartialAsync("_TaskPartial") 
        </form>
    </div>
</div>