@model TaskManagement.ViewModels.SeedTasksViewModel

@{
    ViewBag.Title = "PlanerTask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div id="TreeView" class="col-6 border-end">
        @if (Model != null)
         {
            @await Html.PartialAsync("_TreeViewPartial")
         }
    </div>
    <div class="col-6 border-start">
        <div id="taskDetails">

        </div>
    </div>
        
</div>

@await Html.PartialAsync("_CreateOrEditTaskModalPartial")
