@model TaskManagement.Models.SeedTasks

<div class="row">
    <div id="TreeView" class="col-6 border-end">
        @if (Model != null)
         {
            @await Html.PartialAsync("_TreeViewPartial")
         }
    </div>
    <div class="col-6 border-start">
        @await Html.PartialAsync("_DetailsPartial") 
    </div>
        
</div>

@await Html.PartialAsync("_CreateOrEditTaskModalPartial")
